
/*Autenticacion*/

.loginButton {
  padding: 20px 20px;
  margin: 50px;
  width: 200px;
  border: none;
  border-radius: 10px;
  background-color: blueviolet;
  color: #fff;
  cursor: pointer
}

.logoutButton {
  width: 100px;
  height: 100px;
  height: auto;
  margin: 20px;
  border-radius: 20px;
  border: none;
  color: #fff;
  cursor: pointer;  
  background-color: blueviolet;

}


.loginButton:hover, .logoutButton:hover {
  background-color:  #1f0033
  ;
}

.userName {
  color:#fff;
}

/*Aplicacion*/

.App {
text-align: center;
display: flex;
justify-content: center;
align-items: center;
margin-top: 100px;text-align: center;
}

body {
  background-color:  #2f1847;
}


.moviehubLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  
}


/*Home, Peliculas y series*/

#tittle{
  color: white;
}

.viewtrailer{
  min-height: 700px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
}

.boton{
  background-color: #0F1014;
  color: white;
  outline: none;
  border: 1px solid white;
  padding: 10px 15px;
  cursor: pointer;
  margin-bottom: 10px;
}
.reproductor {
  width: 100%;
  height: 600px;
}
#movieTittle {
  color: white;
}

/*Navbar*/

.navbar-container {
  background-color: #202020;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000; 
 
}


.navbar-brand .moviehubLogo {
  width: 110px; /* Ajusta el tamaño del logo */
}

.navbar-nav .nav-link {
  font-size: 16px; /* Ajusta el tamaño de la fuente de los elementos de navegación */
}

.navbar-nav .nav-item {
  margin-right: 10px; /* Espaciado entre elementos de navegación */
}

.profile {

  margin-top: 10px;
  margin-bottom: 10px;
}


.profile img{
  width: 35px; /* Ajusta el tamaño del icono de perfil */
  height: 35px;
}
.profile h2 {
  font-size: 15px;
  margin: 5px;
  display: inline-block;

}
.logoutButton {
  font-size: 16px; /* Ajusta el tamaño del texto del botón de cierre de sesión */
}
.logoutContainer {
 margin-left: 10px;
}

/*Secciones*/

.content-container {
  overflow-y: auto; /* Para permitir el desplazamiento vertical */
  max-height: calc(100vh - 56px); /* 56px es la altura del navbar */
}

.scrollable-content {
  padding: 15px; /* Ajusta según sea necesario */
}

.violet-background {
  background-color: #2f1847;
}

.btn {
  padding: 10px 15px;
  background-color: #6610f2;
  color: white;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  border: none;
  font-size: 1rem;
  transition: all 0.3s ease;
  line-height: 1.1;
  margin-right: 15px; /* Añade margen a la derecha del botón */
  margin-bottom: 10px;
}


.btn:hover {
  background-color: #1aa762;
  opacity: 1;
  cursor: pointer;
}


.btn:disabled {
  pointer-events: none;
  opacity: 0.5;
}

.heading{
  color: white;
}

.count-pill{
  color: white;
}

.ctrl-btn {
  color: #fefefe;
  background-color: transparent;
  border: none;
  transition: all 0.3s ease;
  font-size: 1.25rem;
  padding: 10px 20px; /* Aumentar el padding para más separación */
  margin: 5px; /* Añadir margen alrededor de cada botón */
  display: inline-block; /* Hacer que los botones sean elementos en línea */
  text-align: center; /* Centrar el texto dentro del botón */
}

@media (max-width: 768px) {
  .ctrl-btn {
    font-size: 1rem; /* Ajustar el tamaño de fuente en dispositivos móviles */
    padding: 8px 16px; /* Reducir el padding en dispositivos móviles */
    margin: 3px; /* Reducir el margen en dispositivos móviles */
  }
}

.ctrl-btn:hover {
  background-color: #1aa762;
  cursor: pointer;
}

.movie-page .no-movies {
  color: #c4c4c4;
  font-size: 3rem;
  text-align: center;
}

.container{
  margin-bottom: 200px;
}