/* Autenticación */

.register-photo {
  background: #f1f7fc;
  padding: 80px 0;
}

.register-photo .image-holder {
  display: table-cell;
  width: auto;
  background: url(https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=753&q=80);
  background-size: cover;
}

.register-photo .form-container {
  display: table;
  max-width: 900px;
  width: 90%;
  margin: 0 auto;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.register-photo form {
  display: table-cell;
  width: 400px;
  background-color: #ffffff;
  padding: 40px 60px;
  color: #505e6c;
}

@media (max-width:991px) {
  .register-photo form {
    padding: 40px;
  }
}

.register-photo form h2 {
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.register-photo form .form-control {
  background: transparent;
  border: none;
  color: #61acb3;
  border-bottom: 1px solid #dfe7f1;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  color: inherit;
  text-indent: 0px;
  height: 40px;
}

.register-photo form .form-check {
  font-size: 13px;
  line-height: 20px;
}

.register-photo form .btn-primary {
  background: #61acb3;
  border: none;
  border-radius: 25px;
  padding: 11px;
  box-shadow: none;
  margin-top: 35px;
  text-shadow: none;
  outline: none !important;
}

.register-photo form .btn-primary:hover,
.register-photo form .btn-primary:active {
  background:#61acb3;
}

.register-photo form .btn-primary:active {
  transform: translateY(1px);
}

.register-photo form .already {
  display: block;
  text-align: center;
  font-size: 12px;
  color: #6f7a85;
  opacity: 0.9;
  text-decoration: none;
}

/* Aplicación */

html, body, #root, .App {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Evitar overflow en el body */
}

body {
  background-color: #2f1847;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.moviehubLogo {
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  margin: 20px;
}

/* Home, Películas y series */

#tittle {
  color: white;
}

.viewtrailer {
  min-height: 300px; /* Ajusta la altura mínima a un valor menor */
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  padding: 20px; /* Añade padding para un mejor espaciado */
}

.youtube-container {
  width: 100%;
  height: 100%;
}

.reproductor {
  max-width: 640px; /* Ajusta el ancho máximo */
  height: auto;
  aspect-ratio: 16/9; /* Mantén la relación de aspecto */
}

/* Media query para pantallas más pequeñas */
@media (max-width: 768px) {
  .viewtrailer {
    min-height: 200px; /* Ajusta la altura mínima para pantallas más pequeñas */
    padding: 10px; /* Ajusta el padding para pantallas más pequeñas */
  }
  .reproductor {
    max-width: 100%; /* Ajusta el ancho máximo */
  }
}

/* Media query para pantallas extra pequeñas */
@media (max-width: 480px) {
  .viewtrailer {
    min-height: 150px; /* Ajusta la altura mínima para pantallas extra pequeñas */
    padding: 5px; /* Ajusta el padding para pantallas extra pequeñas */
  }
  .reproductor {
    max-width: 100%; /* Ajusta el ancho máximo */
  }
}

.boton {
  background-color: #0F1014;
  color: white;
  outline: none;
  border: 1px solid white;
  padding: 10px 15px;
  cursor: pointer;
  margin-bottom: 10px;
}

.reproductor {
  width: 100%;
  height: 600px;
}

#movieTittle {
  color: white;
}

/* Navbar */

.navbar-container {
  background-color: #202020;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar-brand .moviehubLogo {
  width: 110px; /* Ajusta el tamaño del logo */
}

.navbar-nav .nav-link {
  font-size: 16px; /* Ajusta el tamaño de la fuente de los elementos de navegación */
}

.navbar-nav .nav-item {
  margin-right: 10px; /* Espaciado entre elementos de navegación */
}

.profile {
  margin-top: 10px;
  margin-bottom: 10px;
}

.profile img {
  width: 35px; /* Ajusta el tamaño del icono de perfil */
  height: 35px;
}

.profile h2 {
  font-size: 15px;
  margin: 5px;
  display: inline-block;
  color: white;
}

.logoutButton {
  font-size: 16px; /* Ajusta el tamaño del texto del botón de cierre de sesión */
}

.logoutContainer {
  margin-left: 10px;
}

/* Secciones */

.content-container {
  overflow-y: auto; /* Para permitir el desplazamiento vertical */
  max-height: calc(100vh - 70px); /* 70px es la altura del navbar */
}

.scrollable-content {
  padding: 15px; /* Ajusta según sea necesario */
}

.violet-background {
  background-color: #2f1847;
}

.btn {
  padding: 10px 15px;
  background-color: #6610f2;
  color: white;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  border: none;
  font-size: 1rem;
  transition: all 0.3s ease;
  line-height: 1.1;
  margin-right: 15px; /* Añade margen a la derecha del botón */
  margin-bottom: 10px;
}

.btn:hover {
  background-color: #1aa762;
  opacity: 1;
  cursor: pointer;
}

.btn:disabled {
  pointer-events: none;
  opacity: 0.5;
}

.heading {
  color: white;
}

.count-pill {
  color: white;
}

.ctrl-btn {
  color: #fefefe;
  background-color: transparent;
  border: none;
  transition: all 0.3s ease;
  font-size: 1.25rem;
  padding: 10px 20px; /* Aumentar el padding para más separación */
  margin: 5px; /* Añadir margen alrededor de cada botón */
  display: inline-block; /* Hacer que los botones sean elementos en línea */
  text-align: center; /* Centrar el texto dentro del botón */
}

@media (max-width: 768px) {
  .ctrl-btn {
    font-size: 1rem; /* Ajustar el tamaño de fuente en dispositivos móviles */
    padding: 8px 16px; /* Reducir el padding en dispositivos móviles */
    margin: 3px; /* Reducir el margen en dispositivos móviles */
  }
}

.ctrl-btn:hover {
  background-color: #1aa762;
  cursor: pointer;
}

.movie-page .no-movies {
  color: #c4c4c4;
  font-size: 3rem;
  text-align: center;
}

.container {
  margin-bottom: 200px;
}

/* Ajuste para asegurar que las páginas ocupen toda la altura de la ventana */
.movie-page {
  min-height: calc(100vh - 70px); /* Resta la altura del navbar */
  display: flex;
  flex-direction: column;
}

.movie-grid {
  flex: 1; /* Para que el grid ocupe el espacio disponible */
}

.success-message {
  color: green;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.error-message {
  color: red;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.scrollable-content {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.scrollable-content .container {
  background: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para el contenido */
  padding: 20px;
  border-radius: 10px;
}

.scrollable-content .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.scrollable-content img {
  border-radius: 10px;
}

.scrollable-content h3, .scrollable-content h4, .scrollable-content p {
  color: white;
}

.scrollable-content .viewtrailer {
  position: relative;
  padding: 20px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}

.scrollable-content .boton {
  background-color: #6200ea;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

/* Navbar */
.navbar {
  height: 70px; /* Ajusta esta altura según tus necesidades */
  line-height: 70px; /* Alinea el contenido verticalmente */
  padding: 0 20px; /* Ajusta el padding si es necesario */
}

.navbar .navbar-brand, .navbar .nav-link {
  padding: 0; /* Ajusta el padding para alinear mejor el contenido */
}

.navbar .navbar-brand img {
  height: 50px; /* Ajusta la altura del logo */
  width: auto; /* Mantén la proporción del logo */
}
