.loginButton, .logoutButton {
  padding: 20px 20px;
  margin: 50px;
  width: 200px;
  border: none;
  border-radius: 10px;
  background-color: blueviolet;
  color: #fff;
  cursor: pointer
}


.loginButton:hover, .logoutButton:hover {
  background-color:  #1f0033
  ;
}

.App {
text-align: center;
display: flex;
justify-content: center;
align-items: center;
margin-top: 100px;text-align: center;
}

body {
  background-color:  #0f001a;
}

.userName {
  color:#fff;
}

.email {
  color: #fff;
}

.moviehubLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

#tittle{
  color: white;
}

.viewtrailer{
  min-height: 700px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
}

.boton{
  background-color: #0F1014;
  color: white;
  outline: none;
  border: 1px solid white;
  padding: 10px 15px;
  cursor: pointer;
  margin-bottom: 10px;
}
.reproductor {
  width: 100%;
  height: 600px;
}
#movieTittle {

  color: white;
}